<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Welcome to Your Home on Wheels.</h1>
        <p class="lead">
            <button type="button" class="btn btn-lg btn-default"><%= link_to "Buy", homes_path %></button>
            <button type="button" class="btn btn-lg btn-default"><%= link_to "Sell", pricing_path %></button>
            </button>
        </p>
      </div>
      <div class="mastfoot">
        <!-- <div class="inner">
          <p>A Web Production by <a href="http://mitchloar.com">MitchLoar</a></p>
        </div> -->
      </div>
    </div>
  </div>
